*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    background: url(weather.png)no-repeat center center/cover;
}

h1{
    margin-bottom: 10px;
}

#search{
    font-size: 1rem;
    padding: 0.50rem;
}

.weather{
    font-size: 2rem;
}
